*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 95%;
    background: rgb(255, 255, 255);
}
.semi-circle-dark{
    width: 100%;
    height: 230px;
    border-radius: 0px 0px 50% 50% / 0px 0px 17% 75%;
}
.top-images{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-images img{
    width: 120px;
    height: 120px; 
}
.top-images .flipped{
    -webkit-box-reflect: left;
}
.semi-circle-light{
    width: 100%;
    height: 250px;
    border-radius: 0px 0px 50% 50% / 0px 0px 17% 75%;
}
.light-purple{
    background: #B89BEF;
}
.dark-purple{
    background: #7A3FE5;
}
.two-circles{
    width: 100%;
    height: 70px;
    position: relative;
}
.first-circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #a285d8;
    position: absolute;
    top: 0;
    left: 35px;
}
.second-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #B89BEF;
    position: absolute;
    right: 20px;
    bottom: 0;
}
.form-part{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.text-area{
    height: min-content;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}
.third-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #B89BEF;
}
.text-part{
    width: 70%;
    height: 100%;
}
.text-part p{
    color: rgb(173, 168, 168);
    font-size: 0.9em;
    word-spacing: 1px;
    margin-top: 15px;
}
.country-input{
    margin-top: 10px;
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.country-input input{
    border-radius: 20px;
    width: 75%;
    outline: none;
    height: 35px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.123);
    padding-left: 20px;
    opacity: 0.8;
}
.country-input button{
    border-radius: 20px;
    width: 75%;
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    background: #7A3EE5;
}
footer{
    text-align: center;
    font-weight: bold;
}
a{
    color: #7A3FE5;
    text-decoration: none;
}


/* car wash section bekow here*/
.car-wash-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.car-wash-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-tab{
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(134, 132, 132);
    padding-bottom: 6px;
    padding-top: 3px;
}
.footer-tab p{
    font-size: 15px;
    color: gray;
}
.footer-tab i{
    font-size: 18px;
}
.home{
    color: #7A3EE5;
    border-top: 3px solid #7A3FE5;
}
.wash-top-div{
    width: 100%;
    height: 140px;
    background: #7A3EE5;
    padding-top: 20px;
}
.car-icon{
    width: 40px;
    height: 40px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
}
.location-sec{
    width: 100%;
    height: 40px;
    /* border: 1px solid white; */
    padding-left: 15px;
    display: flex;
}
.location-details{
    margin-left: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.location-details i{
    font-size: 16px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}
.disp-flex{
    display: flex;
}
.location-details .small-text{
    font-size: 14px;
}
.carwash-sec{
    width: 100%;
    height: 170px;
    background-image: url(images/car-background.jpg);
    background-size: cover;
    /* opacity: 0.6; */
    margin-top: 20px;
    border-radius: 40px;
}
.wash-sec-det{
    width: 100%;
    height: 100%;
    background: #602abd;
    border-radius: 40px;
    opacity: 0.8;
    display: flex;
    /* padding-left: 20px; */
}
.left-wash{
    width: 40%;
    padding-left: 25px;
    padding-top: 10px;
}
.fa-car{
    color: #7A3EE5;
}
.right-wash{
    width: 60%;
    border-radius: 0px 40px 40px 0px;
}
.semi-circle i, p{
    color: white;
}
.semi-circle i{
    font-size: 12px;
}
.semi-circle{
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
span{
    color: white;
    font-size: 13px;
    margin-left: -10px;
}
.wash-title{
    margin-left: -10px;
}
.yellow-text{
    color: #ffc340;
    font-size: 26px;
    font-weight: 800;
    font-family: sans-serif;
}
.white-text{
    font-size: 26px;
    font-weight: 800;
    font-family: sans-serif;
    color: white;
    margin-top: -13px;
    width: 40px;
}
.whole-list{
    margin-left: -6px;
}
.check-lists{
    font-size: 10px;
}
.check-lists i{
    font-size: 8px;
    color: #ffc340;
}
.right-wash{
    background-image: url(images/sale-car.jpg);
    background-size: cover;
    opacity: .7;
    display: flex;
    justify-content: center;
}
.sale-tag{
    width: 120px;
    height: 30px;
    background: #ffc340;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    rotate: -30deg;
    border-radius: 10px;
}
.sale-tag p{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-right: 15px;
}
.sale-tag span{
    font-weight: bolder;
}
.main-sec{
    width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    background-color: azure;
}
.main-sec h3{
    padding: 15px 15px;
    text-align: center;
}
.cards{
    width: 100%;
    margin: auto;
    height: 85%;
    display: flex;
    background: azure;
    align-items: center;
    justify-content: space-around;
}
.car-card{
    display: flex;
    width: 320px;
    height: 110px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: relative;
}
.card-left-item{
    width: 30%;
    height: 100%;
    border-radius: 15px;
}
.card-right-item{
    width: 70%;
}
.card-left-item img{
    width: 100%;
    height: 79%;
    border-radius: 15px;
}
.black-btn{
    background: rgba(32, 29, 29, 0.938);
    width: min-content;
    padding: 2px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.card-det{
    width: 100%;
    height: 85%;

    padding-left: 10px;
}
.card-det p{
    color: black;
}
.sale-desc{
    font-size: 12px;
    color: rgb(148, 148, 148) !important;
}
.sale-title{
    font-size: 14px;
    font-weight: bold;
}
.price-tag{
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}
.cancelled-price{
    color: rgb(156, 154, 154);
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: line-through;
}
.discounted-price{
    color: rgb(47, 196, 47);
    margin-left: 5px;
    font-size: 13px;
    font-weight: bolder;
}

















@media (max-width:768px){
    .main-sec{
        width: 100%;
        height: 420px;
        margin-top: 110px;
    }
    .cards{
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        height: 90%;
        flex-direction: column;
    }
    .main-sec h3{
    text-align: start;
    }
    .car-wash-footer{
        width: min-content;
    }
}